{% extends 'base.html' %}

{% block body %}
<div class="container mt-3">

    <form method=post enctype=multipart/form-data>
      <input type=file name=file class="my-2 btn btn-info"> <br>
      <input type=submit value='Выполнить' class="my-2 btn-success">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                    {% if category == 'load_from_file' %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </form>
    <h3> Правила заполнения файла </h3>
    <p>
        Данная страница предназначена для загрузки данных о флеш-накопителях в базу данных из файла xlslx или xlxs. <br>
        Файл должен быть заполнен следующим образом:
    </p>
    <image src="/static/images/example_file_load.png" width="1000" height="101">
    <p>
        Таблица обязательно должна содержать шапку: <br>
        1. № - порядковый номер записи в таблице; <br>
        2. Подразделение - наименование подразделение за которым закреплено устройство; <br>
        Имя указывается с нижнем подчеркиванием: [ТипПодразделения]_[НомерПодразделения]; <br>
        3. Идентификатор устройства - ID вшитый в чип устройства; <br>
        4. Ответственный - здесь указывается ФИО ответственного за устройство и номер устройства в подразделении; <br>
        Этот номер указывается на корпусе флеш-накопителя в виде [НомерПодразделения]-[НомерУстройства], что является именем устройства.
        Ответственный и номер ОБЯЗАТЕЛЬНО должны быть разделены и заканчиваться знаком '/' ; <br>
        5. Номер с/з - номер служебки. Формат заполнения - согласно представленному изображению. При отсутствии даты в указанном виде
        в БД будет добавляться запись с текущей датой, что может привести к неточности отображения данных на странице "Детально" устройства; <br>
        6. Примечание - в данном поле указывается состояние флеш-накопителя: "сдана" - флешка в рабочем состоянии, но была возвращена на склад 195
        отдела по какой-либо причине, "вышла из строя" - не работает, и скорее всего заменена. Обязательно присутвие даты изменения состояния
        накопителя в формате [статус]_[dd.mm.yy]. Если в примечание не указано ни одного из перечисленных состояний - накопитель по умолчанию считается
        в состоянии "Активная", т.е. в работе. Также в этом поле указывается какая-либо дополнительная информация. Если в поле указано состояние устройства,
        то состояние и дополнительная информация разделяются знаком '/'.
    </p>
    <h3>Процедура загрузки данных</h3>
    <p>
        1. Указанный файл загружается во временное хранилище; <br>
        2. Имя файла передается на backend; <br>
        3. На backend-е парсинг файла, запись в БД, формирование отчета, отправка отчета на frontend; <br>
        4. Отображение отчета на странице, удаление файла из временного хранилища. <br>

        <span style="color: red"> Для получения отчета и корректной работы не обновлять и не уходить с данной страницы
        во время выполнения загрузки данных из указанного файла.</span> При обнаружении ошибок в заполнение файла, для избегания
        дубликатов записей о неактивных устройствах - не загружать исправленный файл повторно, а указать новый файл, содержащий
        ТОЛЬКО исправленные записи или исправить данные об устройстве вручную через "Корректировать" на странице "Детально"
        если некорректные  данные все же попали в БД.
    </p>
    {% if report|length > 0 %}
        <h3>Отчет о выполнении загрузки данных из файла</h3>
        <div style="overflow: auto; width:100%; height:500px;">
            {% for row in report %}
                {% if row['result'] == 'Ошибка' %}
                        <p style="color: red;">
                {% else %}
                        <p style="color: green;">
                {% endif %}
                    {{ row['N'] }}: Имя устройства = {{ row['dev_numb'] }}; Результат выполнения: {{ row['result'] }};
                            Сообщение: {{ row['message'] }}
                        </p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}